body
{
    text-align:center;
}

.div1{
    width:100%;
}

.modal-dialog{
    width:75%;
}

.modal-body{
    text-align:left;
    font-size:20px;
}

.div1 button{
    float:right;
}

canvas{
    border:5px purple ridge;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}

.copyright-footer{
    bottom:0;
    position:sticky;
    width:100;
    background-color:white;
}